<span id="container-silence-toggle-btn">
{% if silenced %}
<button type="button" class="button-silence" hx-post="/updates/container/{{ container_name }}/unsilence" hx-target="#container-silence-toggle-btn" hx-swap="outerHTML">
  Unsilence
</button>
{% else %}
<button type="button" class="button-silence" hx-post="/updates/container/{{ container_name }}/silence" hx-target="#container-silence-toggle-btn" hx-swap="outerHTML">
  Silence
</button>
{% endif %}
</span>
<span id="container-silence-status-badge" hx-swap-oob="true">
{% if silenced %}<span class="badge badge-lg badge-silenced">Silenced</span>{% endif %}
</span>
