<span id="read-toggle-btn">
{% if update.status == 'unread' %}
<button type="button" hx-post="/updates/{{ update.id }}/read" hx-target="#read-toggle-btn" hx-swap="outerHTML">
  Mark as Read
</button>
{% elif update.status == 'read' %}
<button type="button" hx-post="/updates/{{ update.id }}/unread" hx-target="#read-toggle-btn" hx-swap="outerHTML">
  Mark as Unread
</button>
{% endif %}
</span>
<span id="read-status-badge" hx-swap-oob="true">
{% if not update.error %}
  {% if update.status == 'unread' %}
  <span class="badge badge-lg badge-unread">Unread</span>
  {% else %}
  <span class="badge badge-lg badge-read">Read</span>
  {% endif %}
{% endif %}
</span>
