<span id="subject-read-toggle-btn">
{% if unread_count %}
<button type="button" class="button-info" hx-post="/logs/container/{{ subject }}/read" hx-target="#subject-read-toggle-btn" hx-swap="outerHTML">
  Mark all as Read
</button>
{% else %}
<button type="button" class="button-info" hx-post="/logs/container/{{ subject }}/unread" hx-target="#subject-read-toggle-btn" hx-swap="outerHTML">
  Mark all as Unread
</button>
{% endif %}
</span>
<span id="subject-read-status-badge" hx-swap-oob="true">
{% if active_count %}
  {% if unread_count %}
  <span class="badge badge-lg badge-unread">Unread</span>
  {% else %}
  <span class="badge badge-lg badge-read">Read</span>
  {% endif %}
{% endif %}
</span>
